[submodule "icon-mpim"]
	path = icon-mpim
	url = git@gitlab.dkrz.de:icon/icon-mpim.git
	branch = feature-collection-destine
[submodule "ifs-fesom"]
	path = ifs-fesom
	url = ssh://git@git.ecmwf.int/~sebastian.beyer_awi.de/ifs-source.git
	branch = nextGEMS_CY47R3_RAPS20_levante
	shallow = true
[submodule "ifs-nemo"]
	path = ifs-nemo
	url = ssh://git@git.ecmwf.int/~naih/ifs-source.git
	branch = nextGEMS_CY47R3_RAPS20
